@charset "UTF-8";
/**
 * @author Prénom Nom courriel
**/
/**
 * TABLE DES MATIÈRES
 * Palette de couleurs
 * Base commune
 * - Bouton du menu
 * - Liste du menu
 * - Liens du menu
 * Styles conditionnels au JavaScript
 */
/****** Base commune *******/
ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-padding-start: 0;
     -moz-padding-start: 0;
          padding-inline-start: 0;
}

/* ENTETE */
.titre-principal,
.sous-titre {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Bebas Neue";
  color: white;
  padding: 0px 32px 0px 11px;
}

.sous-titre {
  font-size: 2rem;
  padding-right: 42px;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

@media (min-width: 1000px) {
  .sous-titre {
    font-size: 2.25rem;
    margin-left: 98px;
  }
}
.entete {
  position: relative;
}

.entete-site_accueil {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.entete-site_logo {
  width: 30rem;
  height: 30rem;
  padding-bottom: 10px;
}

.titre-principal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 7rem;
  margin: 0;
}

@media (min-width: 1000px) {
  .titre-principal {
    padding-top: 30px;
  }
}
/* Bouton du menu */
.nav__control {
  background-color: rgba(145, 0, 145, 0.2);
  border: none;
  padding: 10px;
  min-width: 40px;
}

@media (min-width: 600px) {
  .nav__control {
    display: none;
  }
}
.nav__control:hover,
.nav__control:active {
  color: #fff;
  background-color: darkmagenta;
}

.nav__control:focus {
  /* En mettant la règle outline: none;, les styles du navigateur
   * pour les éléments en cours de focus sont effacés. Il faut alors
   * les remplacer par d'autres styles qui peuvent être plus
   * en accord avec la direction visuelle du projet.
   */
  outline: none;
  /* AUTRES STYLES EN REMPLACEMENT DU OUTLINE */
  /*
   * Les règles outline-offset et outline permettent
   * de modifier l'apparence du outline par défaut des navigateurs.
   */
  outline-offset: -5px;
  outline: darkmagenta auto 5px;
}

/* Liste du menu */
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: none;
}

@media (min-width: 600px) {
  .nav__list-item {
    display: inline-block;
  }
}
/* Liens du menu */
.nav__link {
  background-color: rgba(145, 0, 145, 0.2);
  display: block;
  padding: 5px 10px;
  width: 100%;
}

.nav__link:link,
.nav__link:visited {
  text-decoration: none;
  color: inherit;
}

.nav__link:hover {
  color: #fff;
  background-color: darkmagenta;
}

.nav__link:active {
  color: #fff;
  background-color: magenta;
}

.nav__link:focus {
  outline-offset: -5px;
  outline: darkmagenta auto 5px;
}

@media (min-width: 600px) {
  .nav__link:focus {
    outline-offset: 0;
  }
}
/** Une classe nav__link--active
    sert à définir un état différent
    pour l'item de menu actif
    **/
.nav__link--active {
  border-left: 5px solid rgb(101, 68, 180);
}

@media (min-width: 600px) {
  .nav__link--active {
    border-left: none;
    border-bottom: 5px solid rgb(101, 68, 180);
  }
}
/* NAVIGATION PRINCIPALE DE MANDAT-A  */
.navigation-principale {
  width: 100%;
}

.navigation-principale_liste {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
  background-color: #DC2062;
  list-style: none;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
  -webkit-justify-content: space-evenly;
     -moz-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.navigation-principale_liste li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.navigation-principale_liste li a:hover {
  font-size: 1.8rem;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .navigation-principale_liste {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.entete-site_titres {
  margin-bottom: 35px;
}

/* MENU HAMBURGER CSS DE https://www.w3schools.com/howto/howto_js_mobile_navbar.asp */
/* Style the navigation menu */
.navigation-mobile {
  position: relative;
  width: 95%;
  top: 81.5%;
  margin-left: auto;
  left: 0;
  right: 0;
}

.nav-principale_span {
  text-transform: uppercase;
  font-weight: 600;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.navigation-mobile #navigation-mobile_liens {
  display: block;
  background-color: #DC2062;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 50px;
  margin-right: 18px;
}

/* Style navigation menu links */
.navigation-mobile a, .navigation-mobile button {
  color: white;
  padding: 25px 20px;
  text-decoration: none;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .navigation-mobile {
    display: none;
  }
}
/* Style du menu hamburger */
.navigation-mobile .icon {
  background: #DC2062;
  display: block;
  position: absolute;
  right: 0;
  top: -88px;
  height: 88px;
  padding: 19px 11px 8px 13px;
  width: 79px;
  margin-right: 18px;
}

/* Add a grey background color on mouse-over */
.navigation-mobile a:hover {
  background-color: #FF75A5;
  color: black;
}

.navigation-mobile a:focus {
  border: 5px solid #9b9b9b;
}

.navigation-mobile button {
  border: 0;
}

.navigation-mobile button i {
  display: block;
  text-align: center;
}

.navigation-mobile button:hover {
  background: #FF75A5;
}

/* FOOTER */
.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  padding-top: 28px;
}

/* MENU SOCIAUX */
.menu-sociaux_liste {
  margin: 1rem;
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-sociaux_lien:link,
.menu-sociaux_lien:visited {
  font-size: 0;
  display: block;
  width: 60px;
  height: 60px;
  margin-right: 1rem;
  background-image: url(../images/_autres/social_sprites_.png);
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
}

.menu-sociaux_item:first-child .menu-sociaux_lien {
  background-position: 0 0;
}

.menu-sociaux_item:nth-child(2) .menu-sociaux_lien {
  background-position: -60px 0;
}

.menu-sociaux_item:nth-child(4) .menu-sociaux_lien {
  background-position: -120px 0;
}

.menu-sociaux_item:nth-child(3) .menu-sociaux_lien {
  background-position: -180px 0;
}

/* .menu-sociaux__item:nth-child(5) .menu-sociaux__lien {
     background-position: -100px 0;
 } */
.menu-sociaux_item .menu-sociaux_lien:hover,
.menu-sociaux_item .menu-sociaux_lien:active {
  background-position-y: -60px;
  -webkit-transform: rotate(10deg);
     -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
       -o-transform: rotate(10deg);
          transform: rotate(10deg);
}

.rappel-nav_liste li a {
  display: block;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 25px;
}

.rappel-nav_liste {
  list-style: none;
}

@media (min-width: 765px) {
  .rappel-nav_liste {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: -6px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 1000px) {
  .rappel-nav_liste {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
    -webkit-justify-content: space-evenly;
       -moz-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding-bottom: -6px;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-rappel_nav {
  background-color: #DC2062;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100%;
  height: 265px;
  margin-top: 16px;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
}

@media (min-width: 765px) {
  .footer-rappel_nav {
    width: 768px;
    height: 50px;
  }
}
@media (min-width: 1000px) {
  .footer-rappel_nav {
    min-width: 100%;
    width: 1000px;
    height: 50px;
  }
}
.footer-information {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #F1EC77;
  border: 3px solid #000000;
  -webkit-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
     -moz-box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.4);
  margin: 15px 15px -32px 15px;
  padding: 15px;
}

.footer-copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 15px;
  line-height: 17px;
  -webkit-transform: translateY(77px);
     -moz-transform: translateY(77px);
      -ms-transform: translateY(77px);
       -o-transform: translateY(77px);
          transform: translateY(77px);
}

.footer-small {
  margin-bottom: 10px;
}

/**
 * Styles conditionnels au JavaScript
 * L'ajout par JavaScript de la classe .js
 * permet de rédiger des sélecteurs conditionnels à ce que Javascript est actif
 * De cette façon,
 *** en l'absence de JavaScript le menu restera visible et accessible
 *** en présence de JavaScript le menu est caché
 */
@media (max-width: 599px) {
  .js .nav__list {
    max-height: 100vh;
    overflow: hidden;
    -webkit-transition: max-height 2s;
    -o-transition: max-height 2s;
    -moz-transition: max-height 2s;
    transition: max-height 2s;
  }
  .js .nav--closed .nav__list {
    max-height: 0;
    -webkit-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
  }
}