/* Author @kateundercoffler */
/* Pas besoin d'utiliser le charset ;) avec le import de style.css
@charset "UTF-8";   */

/* Style
   ========================================================================== */
@import url(style.css);
@import url(menu.css);
@import url(typo.css);
@import url(utilitaires.css);


/* CONTENU */

body {
   margin-bottom: 75px;
   background-color: rgb(255, 255, 255);
}

/* ENTETE */
.entete-site,
.sous-titre {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}

.placeholder {
   position: relative;
}

.entete-site_accueil {
   text-decoration: none;
}

