/* Author @kateundercoffler */
/* Pas besoin d'utiliser le charset ;) avec le import de style.css
@charset "UTF-8";   */

/* Style
   ========================================================================== */
@import url(style.css);
@import url(menu.css);
@import url(typo.css);
@import url(utilitaires.css);


/* CONTENU */

body {
   margin-bottom: 75px;
   background-color: rgb(255, 255, 255);
}
.main {
   margin-left: 20px;
   margin-right: 20px;
}

/* ENTETE */
.entete-site,
.sous-titre {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}
.sous-titre {
   font-size: 2rem;
   padding-right: 42px;
   margin-bottom: 20px;
}

.placeholder {
   position: relative;
}

.entete-site_accueil {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   text-decoration: none;
}

.entete-site_logo {
   width: 30rem;
   height: 30rem;
   padding-bottom: 10px;
}

.titre-principal {
   display: flex;
   flex-direction: column;
   font-size: 7rem;
   /* justify-content: center; */
   /* align-items: center; */
   padding-left: 102px;
}

/* VIDEO - BORDER EST POUR QU'ON AIT UN PLACEHOLDER */
.main-video {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   border: 3px solid black; 
   margin-top: 20px;
}

/* FOOTER */
/* .footer {
  
} */