/*************
 * @title Mandat C : Chasse au épigraphes
 * @author Philippe Gourdeau
 ************/

@import url(style.css);

#top__h2 {
    grid-area: h;
    text-align: center;
}

#top__description {
    grid-area: d;
}

#top__image {
    display: none;
    position: relative;
    grid-area: i;
}

#top {
    display: grid;
    grid-template-areas:
        "h"
        "d";
        /* "i"; */
}

@media (min-width: 600px) {
    #top {
        grid-template-areas:
            "h h"
            "d i";
    }

    #top__image{
        display: block;
    }
}

@media (min-width: 834px) {
    #top {
        grid-template-areas:
            "h . i"
            "d . i";
    }
}

#top__description {
    background-color: #F1EC77;
    padding         : 20px;
}

#trombone {
    position: absolute;
    width   : 100px;
    rotate  : -50deg;

    right: 10px;
}

#contenu-principal {
    border: 2px solid #000;
}

#contenu-principal svg {
    margin: auto;
}

#contenu-principal>div:nth-of-type(2) {
    border-bottom: 2px solid #000;
    border-top   : 2px solid #000;
    text-align   : center;
}


#indices>div {
    display  : flex;
    /* border   : 2px solid red; */
    max-width: 83%;
    margin   : 20px auto;

    text-align: center;
}

#indices img{
    max-width: 49.231%;
    aspect-ratio: 81 / 56;/*405x280*/
}

#indices>div>div {
    flex-grow: 1;
    background-color: var(--couleur-secondaire);
}

#indices>div>div>p:first-of-type{
    margin:0;
    padding: 1rem 0;
    color:#fff;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.8rem;
    background-color: var(--couleur-tertiaire);
}

.flex-reverse {
    flex-direction: row-reverse;
}

#indices>div:nth-of-type(2)>div{
    background-color: var(--couleur-dominante);
}

#boutons {
    text-align: center;
}