@charset "UTF-8";
/*************
 * @title Mandat C : Chasse au épigraphes
 * @author Philippe Gourdeau
 ************/
@import url(style.min.css);
main {
  padding-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
}

#top__h1 {
  grid-area: h;
  text-align: center;
  color: #000;
  padding-bottom: 20px;
}

#top__description {
  grid-area: d;
}

#top__image {
  display: none;
  position: relative;
  grid-area: i;
}

#top {
  margin-top: 65px;
  margin-bottom: 65px;
  display: grid;
  grid-template-areas: "h" "d";
  /* "i"; */
}

@media (min-width: 600px) {
  #top {
    grid-template-areas: "h h" "d i";
  }
  #top__image {
    display: block;
  }
}
@media (min-width: 834px) {
  #top {
    grid-template-columns: auto 65px auto;
    grid-template-areas: "h . i" "d . i";
  }
}
#top__description {
  background-color: #F1EC77;
  padding: 20px;
}

#trombone {
  position: absolute;
  width: 100px;
  rotate: -50deg;
  right: 10px;
}

#contenu-principal {
  border: 4px solid #000;
}

#contenu-principal svg {
  margin: auto;
}

#contenu-principal > div:nth-of-type(2) {
  border-bottom: 4px solid #000;
  border-top: 4px solid #000;
  text-align: center;
}

#indices > div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  /* border   : 2px solid red; */
  max-width: 83%;
  margin: 20px auto;
  text-align: center;
}

#indices picture {
  max-width: 49.231%;
}

#indices picture img {
  height: 100%;
  font-weight: 600;
}

#retroaction {
  font-weight: bold;
}

.carte > div {
  background-color: var(--couleur-dominante);
  color: #fff;
}

.carte > div > p:first-of-type {
  margin: 0;
  padding: 1rem 0;
  color: #fff;
  font-family: "Bebas Neue", sans-serif;
  font-size: 2.8rem;
  background-color: var(--couleur-tertiaire);
}

.carte {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carte > * {
  max-height: 280px;
  min-width: 247px;
  max-width: 50%;
  -webkit-box-flex: 0;
  -webkit-flex-grow: 0;
     -moz-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

@media (min-width: 600px) {
  .carte {
    display: block;
  }
  .carte > * {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
       -moz-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.flex-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
     -moz-box-orient: horizontal;
     -moz-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

#indices > div:nth-of-type(2) > div {
  background-color: var(--couleur-secondaire);
  color: #000;
}

#boutons {
  text-align: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 15px;
}

#boutons a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  width: 100%;
  padding: 1rem 0;
}

#boutons a,
#boutons button {
  min-height: 45px;
  margin: 10px auto;
  display: block;
  background-color: var(--couleur-secondaire);
  border: 3px #000 solid;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

#boutons a:first-of-type {
  background-color: var(--couleur-dominante);
  color: #fff;
}

#boutons a:hover,
#boutons button:hover {
  background-color: #C59909;
  color: white;
  -webkit-box-shadow: 10px 5px 5px #C59909;
     -moz-box-shadow: 10px 5px 5px #C59909;
          box-shadow: 10px 5px 5px #C59909;
}

#boutons a:first-of-type:hover {
  background-color: #FF75A5;
  color: black;
  -webkit-box-shadow: 10px 5px 5px #FF75A5;
     -moz-box-shadow: 10px 5px 5px #FF75A5;
          box-shadow: 10px 5px 5px #FF75A5;
}

@media (min-width: 600px) {
  #boutons a:first-of-type {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    margin: auto 22.857%;
  }
}
@media (min-width: 834px) {
  #boutons a:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
       -moz-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  #boutons a:first-of-type {
    -webkit-flex-basis: 48.571%;
        -ms-flex-preferred-size: 48.571%;
            flex-basis: 48.571%;
    margin: auto;
  }
}
footer a:hover {
  text-decoration: underline;
}

/* ajouts de Lorie - Juste pour que le lien/texte soit un peu plus visible (même si c'est juste pour le screen reader)*/
.lienrapide {
  color: white;
}

.lienrapide:focus {
  padding: 5px;
}

/* ajout de Lorie - État focus des boutons */
#boutons a:focus,
#btnNouvelleChasse:focus {
  border: 4px solid #75cfdf;
}